<div class="content-padder content-background">
            <div class="uk-section-small uk-section-default header">
                <div class="uk-container uk-container-large">
                    <h1><span class="ion-speedometer"></span> Incidencia</h1>
                    <p>
                        Bienvenido, <%= user %>
                    </p>
                    <ul class="uk-breadcrumb">
                        <li><a href="/welcome">Home</a></li>
                        <li><span href="">Incidencia</span></li>
                    </ul>
                </div>
            </div>
        <div class="content-background">
            <div class="uk-section-small">
                <div class="uk-container uk-container-large">
                    <div uk-grid class="uk-child-width-1-1@s uk-child-width-2-3@l">
                        <div class="uk-width-1-1@s uk-width-1-2@l uk-width-1-1@xl"></div>
                        <div class="uk-width-1-1@s uk-width-3-2@l uk-width-1-1@xl">
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-body">
                                    <center>
                                        <h2>Registros </h2><br />
                                    </center>
                                    <form method="POST">
                                        <fieldset class="uk-fieldset">
                                            <div class="uk-margin">
                                                <div class="uk-position-relative">
                                                    <div class="uk-overflow-container">
                                                    <table class="uk-table uk-table-hover uk-table-striped data-table display" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Id</th>
                                                                <th>Nombre</th>
                                                                <th>Paterno</th>
                                                                <th>Materno</th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% results[0].forEach(function(item){ %>
                                                                <tr>
                                                                    <td><%= item.Id %></td>
                                                                    <td><%= item.Nombre %></td>
                                                                    <td><%= item.Paterno %></td>
                                                                    <td><%= item.Materno %></td>
                                                                    <td> 
                                                                        <a class="data-view uk-button uk-button-primary ion-eye" href="#modal-ver" uk-toggle data='<%= JSON.stringify(item) %>'></a>         
                                                                    </td>
                                                                    <td> 
                                                                        <a class="data-edition uk-button uk-button-primary ion-android-delete" href="#modal-eliminar" uk-toggle data='{"_idU": "<%= item.Id %>"}'></a>         
                                                                    </td>
                                                                    <td> 
                                                                        <a class="data-edition uk-button uk-button-primary ion-edit" href="#modal-editar" uk-toggle data='{"_id": "<%= item.Id %>", "catincid": "<%= item.IdCatIncid %>", "periodo": "<%= item.IdPeriodo %>", "progedu": "<%= item.IdProgEdu %>", "descripcion": "<%= item.Descripcion %>"}'></a>    
                                                                    </td>
                                                                </tr>
                                                            <% })%>
                                                        </tbody>
                                                    </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                            <hr />

                                            <center>
                                                <a class="uk-button uk-button-primary ion-plus" href="#modal-nuevo" uk-toggle>&nbsp; Nuevo</a> 
                                            </center>
                                        </fieldset>
                                    </form>

                                    <div id="modal-ver" class="uk-flex-top" uk-modal>
                                        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                                            <button class="uk-modal-close-default" type="button" uk-close></button>

                                            <div class="uk-modal-header">
                                                <h2 class="uk-modal-title">¡Ver!</h2>
                                            </div>

                                                    <div class="uk-modal-body">
                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative">
                                                                <p>¡Sabemos que parte de la información aqui precente son confideciales, asi que ten cuidado!</p>
                                                            </div>
                                                        </div>

                                                        <div class="uk-text-center js-upload">
                                                            <div class="uk-inline-clip uk-transition-toggle uk-dark uk-link" tabindex="0" uk-form-custom>                                
                                                                <img id="Fotografia" src="" alt="avatar" height="100px" width="100px">
                                                            </div>
                                                        </div>


                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative uk-text-emphasis">
                                                                Id:
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="uk-margin">
                                                            <div id="Id" class="uk-position-relative uk-background-muted uk-padding-small"></div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative uk-text-emphasis">
                                                                Nombre:
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="uk-margin">
                                                            <div id="Nombre" class="uk-position-relative uk-background-muted uk-padding-small"></div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative uk-text-emphasis">
                                                                Apellido Paterno:
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="uk-margin">
                                                            <div id="Paterno" class="uk-position-relative uk-background-muted uk-padding-small"></div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative uk-text-emphasis">
                                                                Apellido Materno:
                                                            </div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div id="Materno" class="uk-position-relative uk-background-muted uk-padding-small"></div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative uk-text-emphasis">
                                                                Categoria Incidencia:
                                                            </div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div id="CatIncid" class="uk-position-relative uk-background-muted uk-padding-small"></div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative uk-text-emphasis">
                                                                Periodo:
                                                            </div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div id="Periodo" class="uk-position-relative uk-background-muted uk-padding-small"></div>
                                                        </div>

                                                        
                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative uk-text-emphasis">
                                                                Programa Educativo:
                                                            </div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div id="ProgEdu" class="uk-position-relative uk-background-muted uk-padding-small"></div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative uk-text-emphasis">
                                                                Descripción:
                                                            </div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div id="Descripcion" class="uk-position-relative uk-background-muted uk-padding-small"></div>
                                                        </div>                                                    
                                                    </div>

                                                    <div class="uk-modal-footer uk-text-right">
                                                        <button class="uk-button uk-button-primary uk-modal-close" type="button">Vale</button>
                                                    </div>

                                        </div>
                                    </div>

                                   
                                    <div id="modal-nuevo" class="uk-flex-top" uk-modal>
                                        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                                            <button class="uk-modal-close-default" type="button" uk-close></button>

                                            <div class="uk-modal-header">
                                                <h2 class="uk-modal-title">¡Nuevo!</h2>
                                            </div>

                                            <form action="/docente_incidencia/agregar" method="POST">
                                                <fieldset class="uk-fieldset">

                                                    <div class="uk-modal-body">
                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative">
                                                                <p>¡Por fin agregas algo nuevo, ya tenie rato!</p>
                                                            </div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative uk-text-emphasis">
                                                                Docente:
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative">
                                                                <select name="id_docente_n" class="uk-select">
                                                                    <% results[1].forEach(function(dt){ %>
                                                                        <option value="<%= dt.Id %>"><%= dt.Nombre %> <%= dt.ApellidoPaterno %> <%= dt.ApellidoMaterno %></option>
                                                                    <% })%>
                                                                </select>   
                                                            </div>
                                                            <p class="uk-comment-meta">*Este campo no podra editarse respectivamente</p>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative uk-text-emphasis">
                                                                Categoria Incidencia:
                                                            </div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative">
                                                                <select name="id_categoria_incidencia_n" class="uk-select">
                                                                    <% results[2].forEach(function(dt){ %>
                                                                        <option value="<%= dt.Id %>"><%= dt.Nombre %></option>
                                                                    <% })%>
                                                                </select>  
                                                            </div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative uk-text-emphasis">
                                                                Periodo:
                                                            </div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative">
                                                                <select name="id_periodo_n" class="uk-select">
                                                                    <% results[3].forEach(function(dt){ %>
                                                                        <option value="<%= dt.Id %>"><%= dt.Nombre %></option>
                                                                    <% })%>
                                                                </select>  
                                                            </div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative uk-text-emphasis">
                                                                Programa Educativo:
                                                            </div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative">
                                                                <select name="id_programa_educativo_n" class="uk-select">
                                                                    <% results[4].forEach(function(dt){ %>
                                                                        <option value="<%= dt.Id %>"><%= dt.Nombre %></option>
                                                                    <% })%>
                                                                </select>  
                                                            </div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative uk-text-emphasis">
                                                                Descripción:
                                                            </div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative">
                                                                <textarea name="descripcion_n" required class="uk-textarea" rows="5" placeholder="¡Describe bien los hechos va!"></textarea>
                                                            </div>
                                                        </div>

                                                        <% if (alert != null && alert != 'null' && modal == 'modal-nuevo'){ %>
                                                            <% alert.forEach(function(message){ %>
                                                            <div class="uk-alert-danger" uk-alert>
                                                                <a class="uk-alert-close" uk-close></a>
                                                                <p><%= message %></p>
                                                            </div>
                                                            <% })%> 
                                                        <% } %> 

                                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                    
                                                    </div>

                                                    <div class="uk-modal-footer uk-text-right">
                                                        <button class="uk-button uk-button-default uk-modal-close" type="button" onclick="onCancelModal()">Nop</button>
                                                        <button class="uk-button uk-button-primary" type="submit">Vale</button>
                                                    </div>

                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>

                                    <div id="modal-editar" class="uk-flex-top" uk-modal>
                                        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                                            <button class="uk-modal-close-default" type="button" uk-close></button>

                                            <div class="uk-modal-header">
                                                <h2 class="uk-modal-title">¡Editar!</h2>
                                            </div>

                                            <form action="/docente_incidencia/editar" method="POST">
                                                <fieldset class="uk-fieldset">

                                                    <div class="uk-modal-body">

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative">
                                                                <p>¡Recuerda solo modificar cosas que entiendas, por que luego se descomponen!</p>
                                                            </div>
                                                        </div> 

                                                        <input id="_id" type="hidden" class="data-edition-area" name="_id">

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative uk-text-emphasis">
                                                                Categoria Incidencia:
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative">
                                                                <select id="catincid" name="id_categoria_incidencia_e" class="uk-select">
                                                                    <% results[2].forEach(function(dt){ %>
                                                                        <option 
                                                                        <% if(modal_values != null){ %>
                                                                            <% if(modal_values.id_categoria_incidencia_e == dt.Id){ %> 
                                                                                selected  
                                                                            <% } %>
                                                                        <% } %>
                                                                        value="<%= dt.Id %>"><%= dt.Nombre %></option>
                                                                    <% })%>
                                                                </select>  
                                                            </div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative uk-text-emphasis">
                                                                Periodo:
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative">
                                                                <select id="periodo" name="id_periodo_e" class="uk-select">
                                                                    <% results[3].forEach(function(dt){ %>
                                                                        <option 
                                                                        <% if(modal_values != null){ %>
                                                                            <% if(modal_values.id_periodo_e == dt.Id){ %> 
                                                                                selected  
                                                                            <% } %>
                                                                        <% } %>
                                                                        value="<%= dt.Id %>"><%= dt.Nombre %></option>
                                                                    <% })%>
                                                                </select>  
                                                            </div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative uk-text-emphasis">
                                                                Programa Educativo:
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative">
                                                                <select id="progedu" name="id_programa_educativo_e" class="uk-select">
                                                                    <% results[4].forEach(function(dt){ %>
                                                                        <option 
                                                                        <% if(modal_values != null){ %>
                                                                            <% if(modal_values.id_programa_educativo_e == dt.Id){ %> 
                                                                                selected  
                                                                            <% } %>
                                                                        <% } %>
                                                                        value="<%= dt.Id %>"><%= dt.Nombre %></option>
                                                                    <% })%>
                                                                </select>  
                                                            </div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative uk-text-emphasis">
                                                                Descripción:
                                                            </div>
                                                        </div>

                                                        <div class="uk-margin">
                                                            <div class="uk-position-relative">
                                                                <textarea id="descripcion" name="descripcion_e" required class="uk-textarea" rows="5" placeholder="¡Esta vez no te equivoques, describe bien los hechos va!"></textarea>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <% if (alert != null && alert != 'null' && modal == 'modal-editar'){ %>
                                                        <% alert.forEach(function(message){ %>
                                                            <div class="uk-alert-danger" uk-alert>
                                                                <a class="uk-alert-close" uk-close></a>
                                                                <p><%= message %></p>
                                                            </div>
                                                        <% })%> 
                                                    <% } %> 

                                                    <div class="uk-modal-footer uk-text-right">
                                                        <button class="uk-button uk-button-default uk-modal-close" onclick="onCancelModal()" type="button">Olvidalo</button>
                                                        <button class="uk-button uk-button-primary" type="submit">Cambiar</button>
                                                    </div>                                                    

                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                                </fieldset>
                                            </form>

                                        </div>
                                    </div>

                                    <div id="modal-eliminar" class="uk-flex-top" uk-modal>
                                        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                            <button class="uk-modal-close-default" type="button" uk-close></button>
                                                    
                                            <div class="uk-modal-header">
                                                <h2 class="uk-modal-title">¡Oye!</h2>
                                            </div>

                                            <form action="/docente_incidencia/eliminar" method="POST">
                                                <fieldset class="uk-fieldset">

                                                    <div class="uk-modal-body">
                                                        <p>¿No manches estas seguro que quieres borrar esto?</p>
                                                        <input id="_idU" type="hidden" class="data-edition-area" name="_idU">
                                                    </div>

                                                    <div class="uk-modal-footer uk-text-right">
                                                        <button class="uk-button uk-button-default uk-modal-close" type="button" onclick="onCancelModal()">No</button>
                                                        <button class="uk-button uk-button-primary" type="submit">Si</button>
                                                    </div>

                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                </fieldset>
                                            </form>

                                        </div>
                                    </div>                                       

                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1-1@s uk-width-1-2@l uk-width-1-1@xl"></div>
                    </div>
                </div>
            </div>
        </div>
</div>
